    <div class="w-75 mx-auto ">
    <p>Edit Todo: {{product}}</p>
    const
    <form action="/edit/{{idproduct}}" method="post">
    <div class="input-group ">
        <input type="text" name="todo" class="form-control" value="{{product}}" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-danger" type="submit" id="btn_1">Done</button>
    </div>
    </form>
    </div>